doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/todomvc-app-css/index.css')
    link(rel='stylesheet', href='/todomvc-common/base.css')
  body
    #todomvc-root

  script(type='text/javascript', src='/assets/js/dist/todomvc.bundle.js')